[Unit]
Description=aglio container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a aglio
ExecStop=/usr/bin/docker stop aglio

[Install]
WantedBy=default.target

