[Unit]
Description=aglio container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a aglio
ExecStop=/usr/bin/docker stop aglio

RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=nodesrv

[Install]
WantedBy=default.target

